body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
h1{
    font-size: 60px;
    margin-top: 3%;
    margin-left: 5%;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.half-width{
    font-size: 30px;
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    font-size: large;
    font-weight: 700;
    color: #0b415e;
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 69, 69),rgb(233, 233, 23));
    padding: 10px 15px;
    border-radius: 10px
}
.bottom-part{
    background-image: url(images/exp-bg.png);
}